<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .iframeContainer{
            width: 2000px;
            height: 1200px;
            border: black;
            display: flex;
        }
        .iframeBox{
            width: 900px;
        }
    </style>
</head>
<body>
    <div class="iframeContainer">
        <iframe class="iframeBox" src="http://172.31.1.101:8080/"></iframe>
        <iframe class="iframeBox" src="http://172.31.1.101:8080/"></iframe>
    </div>
</body>
</html>