<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <script defer src="/js/timeViewer.js"></script>
</head>
<body>
    <div id="background_div">
        <div>Hello World!</div>
        <div id="clock"></div>
    </div>
    <div id="monitoringBox">
        <div>
            <h2>단순히 리턴받은 값 출력</h2>
            <div id="browserTimeBox"></div>
            <div id="javaAverageReqTimeBox"></div>
            <div id="browserAfterJavaBox"></div>
            <div id="browserJavaTimedifferenceBox"></div>
            <br>
            <div id="javaTime"></div>
            <div id="dbQueryTime"></div>
            <div id="sysdateTime"></div>
            <div id="javaDbTimedifferenceBox"></div>
        </div>
        <div>
            <h2>DB sysdate Return 값 vs Browser Now() + 시차</h2>
            <div id="dbNowAndDelay"></div>
            <div id="jsNowAndTimedifference"></div>
        </div>
    </div>

</body>
</html>